/* line 1, /Users/samalmeida/Desktop/travel-language-learning/app/assets/stylesheets/header.scss */
.menu {
  background-color: #00547E;
  border-bottom: 4px solid #04A3ED;
  width: 100%;
  height: auto;
  padding: 0 10px;
  position: fixed;
  margin: 0px;
  z-index: 1;
  opacity: 0.9;
  position: fixed;
  top: 0px;
}

/* line 15, /Users/samalmeida/Desktop/travel-language-learning/app/assets/stylesheets/header.scss */
.menu .navbar-nav > .active > a {
  background-color: #04A3ED;
  color: white;
  font-weight: bold;
}

/* line 21, /Users/samalmeida/Desktop/travel-language-learning/app/assets/stylesheets/header.scss */
.menu .navbar-nav > li > a {
  font-size: 13px;
  color: white;
  padding: 10px 35px;
}

/* line 27, /Users/samalmeida/Desktop/travel-language-learning/app/assets/stylesheets/header.scss */
.menu .navbar-nav > li > a:hover {
  background-color: #04A3ED;
}

/* line 31, /Users/samalmeida/Desktop/travel-language-learning/app/assets/stylesheets/header.scss */
.navbar-header > a {
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 5px 30px;
}

/* line 41, /Users/samalmeida/Desktop/travel-language-learning/app/assets/stylesheets/header.scss */
.navbar-header > a:hover {
  text-decoration: none;
  color: #04A3ED;
}
