
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
-->
<style type="text/css" src="learning.scss"></style>
<!-- <script type="text/javascript" src="learning.js"></script>
-->
<div class='game'>
	<div class='Robert'>

	</div>

<!-- 	<div class='Walk_Down'>

	</div>
	<div class='Walk_Left'>

	</div> -->
	<!-- <br><br><br><br><br><br>
	<button id="Walk_Right_btn"> Walk Right</button> -->

</div>