<%# var newDiv = $("<div class="well well-lg bio_box"><%= @profile.bio %1></div>"); %>

<%# $('.bio_box').replaceWith(newDiv); %>
$(".button_to input[name='_method']").val("put");
$(".button_to input[type='submit']").val("Edit Bio");
