

<div class="my_body"></div>

<div class="container">
	<div class="row">

		<div class="col-md-3 col1">

			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <%= image_tag "Sam.png", :class => "user_image" %>
			      <div class="caption">
			      </div>
			    </div>
			  </div>
			</div>

			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <div class="caption">
			        <h3 id="user_name">Sam Almeida</h3>
			        <ul>
			        	<li>Location:<span> Philadelphia, PA</span></li>
			        	<li>Age:<span> 32</span></li>
			        	<li>Currently Learning: <span> Portuguese</li>
			        </ul>
			        <p><a href="#" class="btn btn-primary" role="button">Message Sam</a></p>
			      </div>
			    </div>
			  </div>
			</div>


				<h3 id="current_progress">Current Progress</h3>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%
			 		 </div>
					</div>
				</div>











			<div class="col-md-6 col2">


				<div class="hanging"> 
				<%= image_tag "languages.png", :class => "hanging" %>
				 </div>


<!-- 					<div class="game_modal">
 --><!-- 						<button type = "button" class = "btn btn-primary close_modal">RETURN TO PROFILE</button>	
 -->		<!-- 			</div> -->

<iframe class="game_modal" src="/learning/index"></iframe>




				<button type="button" class="btn btn-success resume_game_button hvr-back-pulse" >START NEW GAME OR RESUME <br />EXISTING GAME!</button>
			</div> 











			<div class="col-md-2 col3">
				<div class="row">
				  <div class="col-xs-6 col-md-3">
				    <a href="#" class="thumbnail">
				      <img src="...">
				    </a>
				  </div>
				</div>
			</div>
	</div>
</div>


