


<div class="container">
	<div class="row">

		<div class="col-md-3 col1">

			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m(01-32)_gr.jpg">
			      <div class="caption">
			      </div>
			    </div>
			  </div>
			</div>

			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <div class="caption">
			        <h3 id="user_name">Sam Almeida</h3>
			        <ul>
			        	<li>Location:<span> Philadelphia, PA</span></li>
			        	<li>Age:<span> 32</span></li>
			        	<li>Currently Learning: <span> Portuguese</li>
			        </ul>
			        <p><a href="#" class="btn btn-primary" role="button">Message Sam</a></p>
			      </div>
			    </div>
			  </div>
			</div>


				<h3 id="current_progress">Current Progress</h3>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%
			 		 </div>
					</div>
				</div>











			<div class="col-md-6 col2">





					<div class="game_modal modal fade">
<!-- 						<button type = "button" class = "btn btn-primary close_modal">RETURN TO PROFILE</button>	
 -->					</div>





				<button type="button" class="btn btn-success resume_game_button hvr-back-pulse" >START NEW GAME OR RESUME <br />EXISTING GAME!</button>
			</div>











			<div class="col-md-2 col3">
				<div class="row">
				  <div class="col-xs-6 col-md-3">
				    <a href="#" class="thumbnail">
				      <img src="...">
				    </a>
				  </div>
				</div>
			</div>
	</div>
</div>









<div class="flip-container">
  		<div class="flipper">
				<div class="front">

					<div id="header" class="clearfix">
						<div id="logo">
							Flip Dialog
						</div>
						<div id="menu">
							<ul>
								<li>
									<a href="#">Click me</a>
								</li>
								<li>
									<a href="#">Me too</a>
								</li>
								<li>
									<a href="#">Don't click me</a>
								</li>
								<li>
									<a href="#">i love you</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="banner-wrap" class="clearfix">
						<div id="banner" class="panel">
							<div id="banner-header" class="metal">
								<div class="nav">
									<div class="dot act"></div>
									<div class="dot"></div>
									<div class="dot"></div>
								</div>
							</div>
							<div id="banner-content">
								<div class="text0">
									Flipping
								</div>
								<div class="text1">
									By <a href="http://twitter.blazeboy.me">@blaz_boy</a>
								</div>
								
								<div class="text3">
									An awesome flip
									<br/>
									Dialog concept
								</div>
								<div class="text4">
									FLIP
								</div>
							</div>
						</div>
					</div>
					<div id="bottom" class="clearfix">
						<div class="column panel metal">
							<h2>Lorem ipsum</h2>
							<p>
								Ut bibendum elit in tellus convallis luctus. Ut porttitor <a href="#">eleifend hendrerit</a>. Maecenas elit tortor, consequat non euismod tincidunt, luctus sit amet justo. Ut eget odio at metus rhoncus porta vitae porta justo. Ut tristique lobortis molestie. Morbi mollis ornare lectus, at tristique sapien ultricies pretium.
								<button class="large-buttons">Click me</button>
							</p>
						</div>
						<div class="column panel metal">
							<h2>Dolor sit</h2>
							<p>
								Nunc ullamcorper <a href="#">lacinia</a> nibh non venenatis. Donec nec augue risus, sed aliquet urna. Donec ullamcorper. Morbi mollis ornare lectus, at tristique sapien ultricies pretium. Erat eget consectetur commodo, magna sem egestas felis, a fringilla diam erat a dui aliquam ac luctus.
								<button class="large-buttons">Click me</button>
							</p>
						</div>
						<div class="column panel metal last">
							<h2>Lorem ipsum</h2>
							<p>
								Ut bibendum elit in tellus convallis luctus. Ut porttitor eleifend hendrerit. Maecenas elit tortor, consequat non euismod tincidunt, luctus sit amet justo. Ut eget odio at metus rhoncus porta vitae porta justo. Ut tristique lobortis molestie. Morbi mollis ornare lectus, at tristique sapien ultricies pretium.
							</p>
							<button class="large-buttons">Click me</button>
						</div>
					</div>
					<div id="footer">
						<div class="content">
							This page template credit to <span class="rigth"><a href="mailto:mbielanczuk@gmail.com">mbielanczuk@gmail.com, 2012</a></span>
						</div>
					</div>

				</div>
				<div class="back">
					<div class="flip-modal">
						<p></p>
						<div class="right"><button>OK</button></div>
					</div>
				</div>
			</div>
		</div>







