<div class="fullscreen_bg">
</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Choose your Destination</h3>
      </div>
      <div class="modal-body">
        <input type="text" id="myLocation">
      </div>
      <div class="modal-footer">
        <div class="centering">
          <%= link_to "Login", user_session_path, method: :get %>
          <span> | </span>
          <%= link_to "Sign up", new_user_registration_path, method: :get %>
        </div>
      </div>
    </div>
  </div>
</div>
