<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet'>

<br />
<br />
<br />
<div class="container who-we">
  <div class="wel-info text-center">
    <h2>Who We Are?</h2>
    <span class="brk"></span>
    <p>
    TraveLingo is dedicated to changing people's lives through the power of language and literacy education. The company's innovative, personalized language and reading programs drive positive learning outcomes in thousands of schools, businesses, government organizations and for millions of individual learners around the world.
    </p>
    <p>
    Founded in 2017, TraveLingo pioneered the use of interactive software to accelerate language learning and is widely recognized today as the industry leader in providing effective language programs. The company's cloud-based programs allow users to learn online or on-the-go via tablet or smartphone, whether in a classroom, in a corporate setting, or in a personal learning environment. Rosetta Stone is also a leader in the literacy education space, helping millions of students build fundamental reading skills through its Lexia Learning division. Additionally, the company's Fit Brains business offers personalized brain training programs developed by neuroscientists and award-winning game designers to be fun and help keep your brain sharp.
    </p>
    <p>
    TraveLingo is based in Philadelphia, PA, and has offices and operations around the world. For more information, visit www.TRAVELINGO.com.
    </p>
  </div>
</div>
