// Place all the styles related to the learning controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$offset: 60px; // offset left
$shifting: 167px;
$offset_top: 160px;
.body-Bg{
	background-image: url("animation/bg.svg");
	z-index: -9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat:repeat;

	.game {


		%Robert_frame {
			
			width: 110px;
			height: 181px;
			background-image: url("animation/Robert.svg");
		}

		.Robert {
			margin-top: $offset_top;
			margin-left: 0 ;
			z-index: -99;
			position: absolute;
			left: $offset;
			@extend %Robert_frame;
		}

		$class-slug: Robert_station;
		@for $i from 1 through 4 {
			.#{$class-slug}#{$i}{
				position: absolute;
				left: $i * $shifting + $offset ;
				@extend %Robert_frame;
			}
		}

		@for $id from 5 through 8 {
			.#{$class-slug}#{$id}{
				position: absolute;
				top: 250px ;
				left: (4 * $shifting + $offset) - (($id - 5) * $shifting) ;
				@extend %Robert_frame;
			}
		}

			
		.Walk_Right {
			width: 110px;
			height: 181px;
			background-image: url("animation/Walk_Right.svg");

			animation: play .8s steps(6) infinite,  
			Walk_Right 2.5s linear 1 alternate;
			animation-fill-mode: forwards; 

		} 


		.Walk_Down {
			width: 110px;
			height: 181px;
			background-image: url("animation/Walk_Down.svg");

			animation: play .8s steps(6) infinite,  
			Walk_Down 2.5s linear 1 alternate; 
			animation-fill-mode: forwards; 
		} 

		.Walk_Left {
			width: 110px;
			height: 181px;
			background-image: url("animation/Walk_Left.svg");

			animation: play .8s steps(6) infinite,  
			Walk_Left 2.5s linear 1 alternate; 
			animation-fill-mode: forwards; 
		} 
	}


	.learning-container{
		.station-container{ 
			height: 100vH;
			// position: fixed;
			.station-cell{
				// height: 100vH;
				.visible{
					visibility: visible;
					// display: flex;
				}
				.station{
					// height: 100vH;
					.station-content{						
					   	.station-content-title{
							// height: 20vH;
							font-size: 20px;
							// text-align: left;
							color: #8492FB;
						}
					}
					.station-description-container{
						// width: 80%;
						// height: 20vH;						
						.station-description-content{

							.station-description-content-phrases{
								font-size: 8px;
								// opacity: 0;
								 // -webkit-transition: opacity 30s; For Safari 3.1 to 6.0
							  //   transition: opacity 30s;
							}
						}
					}
				}

			}

		}

	}
}
	

	

	



	

//     -webkit-animation: play 2s steps(5) infinite;
//        -moz-animation: play 2s steps(5) infinite;
//         -ms-animation: play 2s steps(5) infinite;
//          -o-animation: play 2s steps(5) infinite;
//             animation: play 2s steps(5) infinite;
// }



@keyframes play {
	from { background-position:    0px; }
	to { background-position: -660px; }
}


@keyframes Walk_Right {
	0%{
		transform: translate(0, 0);
	}
	100%  {
		transform: translate(#{$shifting}, 0);
	}
}

@keyframes Walk_Down {
	0%{
		transform: translate(0, 0);
	}
	100%  {
		transform: translate(0, 250px);
	}
}

@keyframes Walk_Left {
	0%{
		transform: translate(0, 0);
	}
	100%  {
		transform: translate(-#{$shifting}, 0);
	}

}
