.container {
	margin-top: 40px;
	text-align: center;
}

body {
	height: 700px!important;

}

.hanging {
	position: relative;
	bottom: 20px;
	margin: 0 auto;
	width: 450px;
}

.my_body {
	height: 900px;
	z-index: -9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('https://images.designtrends.com/wp-content/uploads/2016/04/04070921/Travel-Wallpaper-Background.png');
	background-repeat:repeat;
}

.user_image {
	position: relative;	
	top: 23px;
	border-radius: 7px;
	width: 200px;
}

.thumbnail {
	background-color: rgba(213, 219, 219, 0.7)!important;
	width: 250px;
}

li {
	color: #000000;
	font-family: 'Hammersmith One', sans-serif;
	text-align: left;
}

#user_name {
	font-family: 'Hammersmith One', sans-serif;
	margin-left: 20px;
}

.progress {
	margin-top: 10px;
	position: relative;
	width: 250px;
}

#current_progress {
	width: 250px;
	font-family: 'Hammersmith One', sans-serif;
}
/*
.col1, .col2, .col3 {
	border: 1px solid black;
}*/

.resume_game_button {
	background-color: rgb(0,157,203)!important;
	text-shadow: 5px 5px 8px black;
	font-size: 25px!important;
	font-family: 'Hammersmith One', sans-serif;
	position: relative;	
	width: 450px!important;
	height: 100px;
	z-index: 0
}

.resume_game_button:hover { 
    background-color: #2E86C1!important;
}

.game_modal {
	height: 700px;
	width: 1000px;

}

.close_modal {
}

.close_modal:hover {
	background-color: 
}

iframe {
	border: 0;
	display: none;
}

.text_area {
	
}

.send_button {
	position: relative;
	left: 234px;
	z-index: 2;
}

.msg_container {
	display: none;
	margin: 0 auto;
	position: absolute;
	left: 15.8px;
	z-index: 10;
}

.msg_alert {
	display: none;
	position: absolute;
	z-index: 100;
}

.bio_box {
	position: relative;
	bottom: 40px;
	background-color: rgba(213, 219, 219, 0.7)!important;
	border-radius: 3px;
	margin: 0 auto;
	width: 450px;
	height: 175px;
}

.right_col {
	width: 250px!important;
	height: 294px!important;
	position: absolute;
}


.right_col_bottom {
	margin-top: 375px;
	width: 250px!important;
	height: 228px!important;
}




















