html {
  overflow-y: scroll !important;
}

.panel {
  margin-top: 40px;
}

.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('https://images.designtrends.com/wp-content/uploads/2016/04/04070921/Travel-Wallpaper-Background.png');
  background-repeat:repeat;
}

.input-group {
  margin: 10px;
}

.input-group-addon {
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
  color: rgb(255, 255, 255);
}

.col-md-offset-right-6 {
    margin-right: 50%;
}

.panel-default {
  opacity: 0.8;
}
