<footer class="footer1">
  <div class="container">

    <div class="row"><!-- row -->

      <div class="col-lg-3 col-md-3"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->

          <li class="widget-container widget_nav_menu"><!-- widgets list -->

            <h1 class="title-widget">Where to start</h1>

            <ul>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i> Try it free</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i> Reviews</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i> e-gift</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i> Apps</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i> sitemap</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Discount</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li>
            </ul>

          </li>

        </ul>


      </div><!-- widgets column left end -->



      <div class="col-lg-3 col-md-3"><!-- widgets column left -->

        <ul class="list-unstyled clear-margins"><!-- widgets -->

          <li class="widget-container widget_nav_menu"><!-- widgets list -->

            <h1 class="title-widget">About</h1>

            <ul>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Travelingo</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Partners</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Careers</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Press</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Links</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  languages</a></li>
              <li><a  href="#"><i class="fa fa-angle-double-right"></i>  why us</a></li>
              <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> team</a></li>

            </ul>

          </li>

        </ul>


      </div><!-- widgets column left end -->



      <div class="col-lg-3 col-md-3"><!-- widgets column left -->

        <ul class="list-unstyled clear-margins"><!-- widgets -->

          <li class="widget-container widget_nav_menu"><!-- widgets list -->

            <h1 class="title-widget">Support</h1>

            <ul>


              <li><a href="#"><i class="fa fa-angle-double-right"></i> support Form</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> FAQ</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> REQUIREMENTS</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> cONTACT us</a></li>


            </ul>

          </li>

        </ul>


      </div><!-- widgets column left end -->


      <div class="col-lg-3 col-md-3"><!-- widgets column center -->



        <ul class="list-unstyled clear-margins"><!-- widgets -->

          <li class="widget-container widget_recent_news"><!-- widgets list -->

            <h1 class="title-widget">Contact Detail </h1>

            <div class="footerp"> 

              <h2 class="title-median">Travelingo</h2>
              <p><b>Email id:</b> <a href="mailto:info@travelingo.com">info@travelingo.com</a></p>
              <p><b>Helpline Numbers </b>

              <b style="color:#ffc106;">(8AM to 10PM):</b>  2152720490, 6103164062  </p>

              <p><b>Corp Office / Postal Address</b></p>
              <p>1601 cherry st, Philadelphia, PA</p>
              <p><b>Phone Numbers : </b>2152720490 </p>

            </div>

            <div class="social-icons">

              <ul class="nomargin">

                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--header-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          © 2017, TraveLingo, All rights reserved

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">

          <a href="#"> </a> |  <a target="_blank" href="http://www.travelingo.com"></a>

        </div>

      </div>

    </div>

  </div>

</div>
