<div class="menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#">TraveLingo</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/welcome/about" ><span class="glyphicon glyphicon-user"></span> About Us</a></li>
        <li><a href="/users/sign_up" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
</div>


