<div class="menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#">TraveLingo</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to welcome_about_path do %>
            <span class='glyphicon glyphicon-info-sign'></span>
            About Us
          </li><% end %>
      <li><%= link_to user_path do %>
        <span class='glyphicon glyphicon-user'></span>
        User Profile
      </li><% end %>
<% else %>
  <li><%= link_to new_user_registration_path do %>
    <span class='glyphicon glyphicon-user'></span>
    Sign Up
  </li><% end %>
          <li><%= link_to new_user_session_path do %>
            <span class='glyphicon glyphicon-log-in'></span>
            Log In
          </li><% end %>
    <% end %>
      </ul>
    </div>
  </div>
</div>

</div>
</div>


