<footer class="footer1">
  <div class="container">
    <div class="row"><!-- row -->

      <div class="col-lg-4 col-md-4"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
          <li class="widget-container widget_nav_menu"><!-- widgets list -->
            <h1 class="title-widget"><%= link_to "About Us", welcome_about_path %></h1>
          </li>
        </ul>
      </div><!-- widgets column left end -->

      <div class="col-lg-4 col-md-4"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
          <li class="widget-container widget_nav_menu"><!-- widgets list -->
            <h1 class="title-widget"><%= link_to "Learn A Language", learning_index_path %></h1>
          </li>
        </ul>
      </div><!-- widgets column left end -->

      <div class="col-lg-4 col-md-4"><!-- widgets column center -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
          <li class="widget-container widget_recent_news"><!-- widgets list -->
            <h1 class="title-widget">Contact Detail </h1>
            <div class="footerp"> 
              <h2 class="title-median">TraveLingo</h2>
              <p><b>Email id:</b> <a href="mailto:info@travelingo.com">info@travelingo.com</a></p>
              <p><b>Corp Office / Postal Address</b></p>
              <p>1601 Cherry St, Philadelphia, PA</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2017, TraveLingo, All rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
