<!DOCTYPE html>
<html>
  <head>
    <title>TravelLanguageSite</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/hover.css">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
